In [1]:
def square(x):
    return x * x

square(5)

25

In [2]:
numbers=[1,2,3,4,5]

mapped_numbers = map(square, numbers)
print(list(mapped_numbers))

[1, 4, 9, 16, 25]

In [ ]:
## using Lambda

mapped_numbers = map(lambda x: x*x, numbers)
print(list(mapped_numbers))

[1, 4, 9, 16, 25]

In [4]:
## Map Multiple iterables

numbers2 = [6,7,8,9,10]
numbers3 = [11,12,13,14,15]

mapped_numbers = map(lambda  y, z: y + z,numbers2, numbers3)
print(list(mapped_numbers))

[17, 19, 21, 23, 25]

In [5]:
# convert all the strings to integer
string_array = ["1", "2", "3", "4", "5"]
int_array = list(map(int, string_array))
print(int_array)

[1, 2, 3, 4, 5]

In [6]:
## Applying String methods
words = ["hello", "world", "python", "map"]

upper_words = list(map(str.upper,words))
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [30]:
## To dictionaries
person = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35}
]


mapped_list = list(map(lambda p : p['name'],person))
print(mapped_list)

['Alice', 'Bob', 'Charlie']